*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  user-select:none;
  -webkit-tap-highlight-color:transparent;
}

html,body{
  width:100%;
  height:100%;
  overflow-x:hidden;
}

body{
  background:var(--bg);
  color:var(--text);
  transition:background 1s ease,color 1s ease;
}

footer{
  padding:80px;
  text-align:center;
  opacity:.4;
  letter-spacing:4px;
  font-size:.7rem;
}
