header{
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}

header h1{
  font-size:5rem;
  letter-spacing:12px;
  animation:heroIn 2.5s ease;
}

header p{
  margin-top:25px;
  letter-spacing:5px;
  opacity:.6;
}

@keyframes heroIn{
  from{opacity:0;transform:scale(1.4)}
  to{opacity:1;transform:scale(1)}
}
